.task {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%; 
    box-sizing: border-box;
}

.text {
    max-width: 60%; 
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
}
